.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
}

.app-logo {
  height: 100px;
  width: 100px;
  margin: 10px 20px;
}

.app-form {
  padding: 10px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  display: flex;
}

.message-box {
  background-color: rgb(211, 216, 218);
  font-family: "Acme", sans-serif;
  height: 40px;
  width: 85%;
  border-radius: 25px 0 0 25px;
  border: none;
  padding: 2px;
  outline: none;
}

::placeholder {
  font-family: "Acme", sans-serif;
  font-size: large;
  margin-left: 20px;
}

.all-messages {
  margin-bottom: 50px;
}

.send-button {
  background-color: rgb(50, 180, 255);
  border-color: rgb(50, 180, 255);
  color: white;
  height: 44px;
  padding: 2px;
  width: 15%;
  border-radius: 0 25px 25px 0;
  margin-right: 20px;
}
